<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uy.edu.ctc.sgapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".notificacion.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notificacion.MyJobService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".user_interface.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user_interface.Alvaro" />
        <activity android:name=".user_interface.Alfredo" />
        <activity android:name=".user_interface.login" />
        <activity
            android:name=".user_interface.lstEvaluacionInscripcionAlumnos"
            android:label="@string/title_activity_lst_evaluaciones_ingreso_alumnos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".user_interface.Tab_Borrados" />
    </application>

</manifest>